/* *{
    margin: 0;
    padding: 0;
}


.App {
    display: flex;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    line-height: 1.2;
    margin-bottom: 20px;
}

.score{
    margin-bottom: 10px;
}

.number{
    margin-bottom: 10px;
} */